<!DOCTYPE html>
<html lang="en" dir="rtl" class="text-right">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ثبت اطلاعات شخصی</title>
    <style>
        body,html,#app{
            height: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <register></register>
</div>
<script type="application/javascript" src='/static/public/app.js'></script>
</body>
</html>
